body
{
background-color: "EAEAFF";
font-family:arial,sans-serif; 
}

h1,h2,h3,h4
{
font-family: "arial,'sans-serif'"; 
color:blue;
}

table
{
font-family: "arial,'sans-serif'"; 
}

p
{
margin-left: 5pt;
margin-right: 5pt;
}

table
{
margin-left: 15pt;
margin-right: 15pt;
margin-bottom: 5pt;
}

pre
{
margin-left:1cm;
font-family: "courier-new"; 
font-size: 100%
}

pre.smallcode
{
margin-left:1cm;
font-family: "courier-new"; 
font-size: 80%
}

code
{
font-family: "courier-new"; 
font-size: 110%
}

a:link     { color:blue }
a:visited  { color:saddlebrown }
a:active   { color:red }
a:hover    { color:red }
